body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        font-size: 28px;
        font-weight: 700;
    }

    .subtitle {
        font-size: 18px;
        font-weight: 500;
        opacity: .7;
    }

    input, select {
        width: 300px;
        margin-top: 48px;
        padding: 8px 12px;
        font-weight: 500;
        outline: none;
        border-bottom: 1px solid #ccc;
    }

    select {
        margin-top: 24px;
    }

    input[type="checkbox"] {
        margin: 0;
        margin-right: 8px;
        width: auto;
    }

    .conditions {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-top: 24px;
    }

    button {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-top: 24px;
        padding: 8px 0px;
        font-size: 18px;
        font-weight: 600;
        border-bottom: 1px solid transparent;
        transition: .1s ease;

        &:hover {
            cursor: pointer;
            border-bottom: 1px solid #000;
        }
    }
}